# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
dist/

# misc
*.tsbuildinfo
next-env.d.ts
.DS_Store
*.pem
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# local data
data/health/
data/consent/
